@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth theme transition */
html {
  transition: background-color 0.5s ease, color 0.25s ease;
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.5s ease, color 0.25s ease;
}

@layer base {
  :root {
    --hue: 150; /* Default hue (mint theme) */
    
    /* Dynamic HSL Colors */
    --background: var(--hue) 50% 94%;
    --foreground: var(--hue) 100% 10%;

    --card: var(--hue) 50% 96%;
    --card-foreground: var(--hue) 90% 14%;
    
    --primary: var(--hue) 90% 40%;
    --primary-foreground: var(--hue) 100% 98%;
    
    --secondary: var(--hue) 60% 92%;
    --secondary-foreground: var(--hue) 100% 20%;

    --muted: var(--hue) 15% 85%;
    --muted-foreground: var(--hue) 10% 50%;

    --accent: var(--hue) 50% 80%;
    --accent-foreground: var(--hue) 90% 20%;

    --mono: var(--hue) 0% 100%;
    --mono-foreground: var(--hue) 0% 0%;

    --border: var(--hue) 20% 80%;
    --input: var(--hue) 20% 80%;
    --ring: var(--hue) 60% 50%;
    
    --link: var(--hue) 60% 70%;
    --heading: var(--hue) 100% 12%;

    --chart-1: var(--hue) 90% 80%;
    --chart-2: var(--hue) 90% 70%;
    --chart-3: var(--hue) 90% 60%;
    --chart-4: var(--hue) 90% 50%;
    --chart-5: var(--hue) 90% 40%; 

    --radius: 0.3rem;
  }

  /* Dark Mode */
  .dark {
    --background: var(--hue) 40% 6%;
    --foreground: var(--hue) 100% 90%;

    --card: var(--hue) 40% 12%;
    --card-foreground: var(--hue) 90% 95%;
    
    --primary: var(--hue) 80% 45%;
    --primary-foreground: var(--hue) 100% 98%;
    
    --secondary: var(--hue) 30% 18%;
    --secondary-foreground: var(--hue) 100% 80%;
    
    --muted: var(--hue) 20% 22%;
    --muted-foreground: var(--hue) 10% 55%;

    --monotone: var(--hue) 0% 2%;
    --monotone-foreground: var(--hue) 0% 98%;

    --border: var(--hue) 30% 25%;
    --input: var(--hue) 30% 25%;
    --ring: var(--hue) 70% 50%;
    
    --link: var(--hue) 70% 70%;
    --heading: var(--hue) 100% 90%;

    --chart-1: var(--hue) 90% 20%;
    --chart-2: var(--hue) 90% 30%;
    --chart-3: var(--hue) 90% 40%;
    --chart-4: var(--hue) 90% 50%;
    --chart-5: var(--hue) 90% 60%; 
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}